In [73]:
import requests 
from dotenv import load_dotenv
import os
import json 
import pandas as pd
from math import e
import pandas as pd
import numpy as np
import yfinance as yf
import PySimpleGUI as sg

In [74]:
load_dotenv()
td_consumer_key=os.getenv('td_consumer_key')

In [75]:
ticker=['GOOG']
contractType=['CALL','PUT','ALL']
stdate='2021-09-24'
edate='2021-12-24'

In [76]:
url=f'https://api.tdameritrade.com/v1/marketdata/chains?&symbol={ticker[0]}&contractType={contractType[2]}&fromDate={stdate}&toDate={edate}'

In [77]:
response=requests.get(url, params={'apikey':td_consumer_key})
data=response.json()

In [78]:
meta={k:v for k, v in data.items() if k in ["symbol","status","underlying","strategy","interval", "isDelayed", "isIndex","interestRate",  "underlyingPrice", "volatility","daysToExpiration","numberOfContracts"]}
meta

{'symbol': 'GOOG',
 'status': 'SUCCESS',
 'underlying': None,
 'strategy': 'SINGLE',
 'interval': 0.0,
 'isDelayed': True,
 'isIndex': False,
 'interestRate': 0.1,
 'underlyingPrice': 2789.7200000000003,
 'volatility': 29.0,
 'daysToExpiration': 0.0,
 'numberOfContracts': 2660}

In [79]:
call=data['callExpDateMap']
dfc=pd.DataFrame.from_dict(call, orient='index').stack().to_frame()
dfc=pd.DataFrame(dfc[0].values.tolist(), index=dfc.index)
dfc=pd.DataFrame(dfc[0].values.tolist(), index=dfc.index)
dfc.head()

                    putCall            symbol  \
2021-09-24:3 1670.0    CALL  GOOG_092421C1670
             1680.0    CALL  GOOG_092421C1680
             1690.0    CALL  GOOG_092421C1690
             1700.0    CALL  GOOG_092421C1700
             1710.0    CALL  GOOG_092421C1710

                                             description exchangeName     bid  \
2021-09-24:3 1670.0  GOOG Sep 24 2021 1670 Call (Weekly)          OPR  1116.9
             1680.0  GOOG Sep 24 2021 1680 Call (Weekly)          OPR  1108.1
             1690.0  GOOG Sep 24 2021 1690 Call (Weekly)          OPR  1098.1
             1700.0  GOOG Sep 24 2021 1700 Call (Weekly)          OPR  1086.6
             1710.0  GOOG Sep 24 2021 1710 Call (Weekly)          OPR  1075.3

                        ask    last     mark  bidSize  askSize  ...  \
2021-09-24:3 1670.0  1133.0  1122.3  1124.95        1        2  ...
             1680.0  1123.0     0.0  1115.55        1        2  ...
             1690.0  1113.0  1060.9  1105.55        1        2  ...
             1700.0  1103.0  1180.8  1094.80        1        8  ...
             1710.0  1090.8     0.0  1083.05        1        1  ...

                    deliverableNote  isIndexOption  percentChange  markChange  \
2021-09-24:3 1670.0                           None           1.06       14.40
             1680.0                           None           0.00       15.00
             1690.0                           None          -2.72       15.00
             1700.0                           None           9.28       14.25
             1710.0                           None           0.00       12.50

                     markPercentChange  intrinsicValue  pennyPilot  \
2021-09-24:3 1670.0               1.30         1122.93       False
             1680.0               1.36         1112.93       False
             1690.0               1.38         1102.93       False
             1700.0               1.32         1092.93       False
             1710.0               1.17         1082.93       False

                    nonStandard  inTheMoney   mini
2021-09-24:3 1670.0       False        True  False
             1680.0       False        True  False
             1690.0       False        True  False
             1700.0       False        True  False
             1710.0       False        True  False

[5 rows x 49 columns]

In [80]:
dfc=dfc.reset_index()
dfc.head(3)

,level_0,level_1,putCall,symbol,description,exchangeName,bid,ask,last,mark,...,deliverableNote,isIndexOption,percentChange,markChange,markPercentChange,intrinsicValue,pennyPilot,nonStandard,inTheMoney,mini
0,2021-09-24:3,1670.0,CALL,GOOG_092421C1670,GOOG Sep 24 2021 1670 Call (Weekly),OPR,1116.9,1133.0,1122.3,1124.95,...,,None,1.06,14.4,1.30,1122.93,False,False,True,False
1,2021-09-24:3,1680.0,CALL,GOOG_092421C1680,GOOG Sep 24 2021 1680 Call (Weekly),OPR,1108.1,1123.0,0.0,1115.55,...,,None,0.00,15.0,1.36,1112.93,False,False,True,False
2,2021-09-24:3,1690.0,CALL,GOOG_092421C1690,GOOG Sep 24 2021 1690 Call (Weekly),OPR,1098.1,1113.0,1060.9,1105.55,...,,None,-2.72,15.0,1.38,1102.93,False,False,True,False

In [81]:
set(dfc.level_0)

{'2021-09-24:3',
 '2021-10-01:10',
 '2021-10-08:17',
 '2021-10-15:24',
 '2021-10-22:31',
 '2021-10-29:38',
 '2021-11-19:59',
 '2021-12-17:87'}

In [82]:
put=data['putExpDateMap']
dfp=pd.DataFrame.from_dict(put, orient='index').stack().to_frame()
dfp=pd.DataFrame(dfp[0].values.tolist(), index=dfp.index)
dfp=pd.DataFrame(dfp[0].values.tolist(), index=dfp.index)
dfp.reset_index(inplace=True)
dfp.head()

,level_0,level_1,putCall,symbol,description,exchangeName,bid,ask,last,mark,...,deliverableNote,isIndexOption,percentChange,markChange,markPercentChange,intrinsicValue,pennyPilot,nonStandard,inTheMoney,mini
0,2021-09-24:3,1670.0,PUT,GOOG_092421P1670,GOOG Sep 24 2021 1670 Put (Weekly),OPR,0.0,0.05,0.05,0.03,...,,None,49900.00,0.02,24900.0,-1122.93,False,False,False,False
1,2021-09-24:3,1680.0,PUT,GOOG_092421P1680,GOOG Sep 24 2021 1680 Put (Weekly),OPR,0.0,0.25,0.05,0.13,...,,None,49900.00,0.12,124900.0,-1112.93,False,False,False,False
2,2021-09-24:3,1690.0,PUT,GOOG_092421P1690,GOOG Sep 24 2021 1690 Put (Weekly),OPR,0.0,0.25,0.10,0.13,...,,None,99900.00,0.12,124900.0,-1102.93,False,False,False,False
3,2021-09-24:3,1700.0,PUT,GOOG_092421P1700,GOOG Sep 24 2021 1700 Put (Weekly),OPR,0.0,0.25,0.15,0.13,...,,None,149900.01,0.12,124900.0,-1092.93,False,False,False,False
4,2021-09-24:3,1710.0,PUT,GOOG_092421P1710,GOOG Sep 24 2021 1710 Put (Weekly),OPR,0.0,0.25,0.10,0.13,...,,None,99900.00,0.12,124900.0,-1082.93,False,False,False,False

In [83]:
dfc.shape

(1330, 51)

In [84]:
dfp.shape

(1330, 51)

In [85]:
df_all=pd.concat([dfc, dfp])
df_all.shape

(2660, 51)

In [86]:
df_all.to_csv("GOOG.csv")

In [87]:
df_all['strike_price']=df_all['level_1']
df_all['strike_price']=df_all['strike_price'].astype('float64')

In [88]:
df_all['volatility']=df_all['volatility'].astype('float64')
df_all['delta']=df_all['delta'].astype('float64')
df_all['gamma']=df_all['gamma'].astype('float64')
df_all['theta']=df_all['theta'].astype('float64')

In [89]:
# Create 3 new dataframes: 
#      â€˜inTheMoneyâ€™ = False & â€˜daysToExpirationâ€™ between 15 & 30. (=df1)
#.     â€˜inTheMoneyâ€™ = False & â€˜daysToExpirationâ€™ between 31 & 60. (=df2)
#      â€˜inTheMoneyâ€™ = False & â€˜daysToExpirationâ€™ between 61 & 90. (=df3)
df1=df_all.loc[(df_all.inTheMoney==False) & (df_all.daysToExpiration>=15) & (df_all.daysToExpiration<=30)]
df2=df_all.loc[(df_all.inTheMoney==False) & (df_all.daysToExpiration>=31) & (df_all.daysToExpiration<=60)]
df3=df_all.loc[(df_all.inTheMoney==False) & (df_all.daysToExpiration>=61) & (df_all.daysToExpiration<=90)]

In [90]:
TICKER=yf.download('GOOG')
TICKER

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2004-08-19,49.813290,51.835709,47.800831,49.982655,49.982655,44871361
2004-08-20,50.316402,54.336334,50.062355,53.952770,53.952770,22942874
2004-08-23,55.168217,56.528118,54.321388,54.495735,54.495735,18342897
2004-08-24,55.412300,55.591629,51.591621,52.239197,52.239197,15319808
2004-08-25,52.284027,53.798351,51.746044,52.802086,52.802086,9232276
...,...,...,...,...,...,...
2021-09-15,2875.179932,2911.629883,2845.120117,2904.120117,2904.120117,1032400
2021-09-16,2902.419922,2904.000000,2868.326904,2887.469971,2887.469971,1014600
2021-09-17,2875.969971,2884.989990,2821.229980,2829.270020,2829.270020,2929500
2021-09-20,2780.003906,2787.250000,2741.060059,2780.340088,2780.340088,1745900
2021-09-21,2802.340088,2815.340088,2778.449951,2792.929932,2792.929932,880228

In [91]:
df_ticker1=TICKER.iloc[-90:]
df_ticker1=df_ticker1[['Adj Close']]
df_ticker1

              Adj Close
Date
2021-05-14  2316.159912
2021-05-17  2321.409912
2021-05-18  2303.429932
2021-05-19  2308.709961
2021-05-20  2356.090088
...                 ...
2021-09-15  2904.120117
2021-09-16  2887.469971
2021-09-17  2829.270020
2021-09-20  2780.340088
2021-09-21  2792.929932

[90 rows x 1 columns]

In [92]:
df_ticker1.to_csv("GOOG_adjPrice.csv")

In [93]:
# Check for underlying price (closing Price) for last 6 days = [ p0, p1,p2,p3,p4, p5)
df_ticker=TICKER.iloc[-6:]
df_ticker=df_ticker[['Adj Close']]
df_ticker

              Adj Close
Date
2021-09-14  2868.120117
2021-09-15  2904.120117
2021-09-16  2887.469971
2021-09-17  2829.270020
2021-09-20  2780.340088
2021-09-21  2792.929932

In [94]:
# Calculate the daily changes in price of Underlying P = Change in P = todays price - yesterdayâ€™s price =Pn - P(n-1)
df_ticker2=df_ticker.diff()
df_ticker2.dropna(inplace=True)

In [95]:
df_ticker2

            Adj Close
Date
2021-09-15  36.000000
2021-09-16 -16.650146
2021-09-17 -58.199951
2021-09-20 -48.929932
2021-09-21  12.589844

In [96]:
#import numpy as np
# Square the daily changes in the price as per step 1
# Calculate 5 days average of the squared daily changes in Price as per step 2 for 5 trailing days = S
df_ticker2['new']=df_ticker2['Adj Close']**2/len(df_ticker2)
df_ticker2


# Calculate the square root of average, S as per step 3 = DVIV
DVIV=np.sqrt(df_ticker2['new'].sum())

In [97]:
# Vt = std deviation for option time window (90 Days)
vt=175

In [98]:
#!pip install pysimplegui

In [99]:
# import PySimpleGUI as sg

In [100]:
# userInput=pd.DataFrame()

In [101]:
### layout = [
###

In [102]:
#userInput
#userInput ='Long Term'

In [103]:
#if user_input =='Long Term':
#    df_sub=df3
#elif user_input =='Mid Term':
#    df_sub=df2
#elif user_input =='Short-Term':
#    df_sub=df1
#else:
#    df_sub=df_all

In [104]:
df_sub=df_all

In [105]:
HPD= 3
ECIV = DVIV * np.sqrt((HPD)* 5/7)
# Vega Effect, VE =  -ABS(Ve) * ECIV
df_sub['vega_effect']=df_sub['vega'].abs()*(-1)*ECIV
# Theta Effect, TE = Th * HPD
df_sub['Theta Effect']= df_sub['theta'] * HPD
most_recent_price=df_ticker.iloc[-1]
IV=df_sub['volatility']
# Expected Price Change, EPC = P * (Exp (IV*((HPD/365) ^ 0.5))-1)
#EPC = P * (e**(IV*((HPD/365)**0.5)) - 1)
df_sub['Expected_price_change']= most_recent_price.values[0]*(e**(IV.values*(HPD/365)**0.5)-1)
# Delta Effect (DE) = -ABS(Delta)* EPC
df_sub['Delta_Effect']=abs(-df_sub['delta'])*(-1)*df_sub['Expected_price_change']
# Gamma Effect (GE) = Gamma * (EPC^2)/2
df_sub['gamma_effect']=df_sub['gamma']*(df_sub['Expected_price_change']**2)/2
# VTRRR = (VE/TE)
VTRRR=df_sub['vega_effect']/df_sub['Theta Effect']
# DTRRR = (DE +GE)/TE
DTRRR=(df_sub['Delta_Effect']+df_sub['gamma_effect'])/df_sub['Theta Effect']
# Rt = DTRRR +VTRRR  risk return ratio
# Add a column Risk Return Ratio
df_sub['Risk_Return']=DTRRR +VTRRR

In [106]:
#For â€˜putCallâ€™ = CALL & ` strike price in the range, (â€˜p0 + 0.75 * Vtâ€™  to p0 + 1.25 *Vt),
#Rt = Rt min & Symbol_CS = corresponding symbol. Dcs = Delta, Pcs = Strike Price


call_short=df_sub.loc[(df_sub.putCall=='CALL')& 
           (df_sub.strike_price.values >=most_recent_price[0]+1*vt)& 
           (df_sub.strike_price.values <=most_recent_price[0]+1.5*vt)&
           (df_sub.daysToExpiration >= 15) &
                     (df_sub.daysToExpiration <= 75)]
call_short=call_short.loc[call_short['Risk_Return']==call_short['Risk_Return'].min()][['symbol','delta','strike_price','Risk_Return','ask','bid', 'daysToExpiration']]


#For â€˜putCallâ€™ = CALL & ` strike price in the range, (â€˜Pcs + 15â€™ to 'Pcs + 50'),
#Rt = Rt min & Symbol_CL= corresponding symbol. Dcl = Delta, Pcl = Strike Price

pcs=call_short['strike_price']

call_long=df_sub.loc[(df_sub.putCall=='CALL')& 
           (df_sub.strike_price.values >=pcs.values[0]+100)& 
           (df_sub.strike_price.values <=pcs.values[0]+250)&
           (df_sub.daysToExpiration == call_short.daysToExpiration.values[0])
                    ]
call_long= call_long.loc[call_long['Risk_Return']==call_long['Risk_Return'].min()][['symbol','delta','strike_price','Risk_Return','ask','bid','daysToExpiration']]

In [107]:
call_long

,symbol,delta,strike_price,Risk_Return,ask,bid,daysToExpiration
1192,GOOG_100821C3200,0.009,3200.0,718.215695,1.0,0.0,17

In [108]:
call_short

,symbol,delta,strike_price,Risk_Return,ask,bid,daysToExpiration
1189,GOOG_100821C3050,0.045,3050.0,-171139.115526,3.1,2.0,17

In [109]:
# For â€˜putCallâ€™ = PUT & ` strike price < (â€˜p0 â€“ (Pcs-P0)* 1.25)
# Delta_diff = [Abs(Delta â€“ Dcs)]
# Check for min Delta_diff
# Dps = corresponding Delta, Symbol_PS = corresponding symbol Pps = Strike Price
put_short= df_sub.loc[(df_sub.putCall=='PUT') & 
           (df_sub.strike_price.values < (most_recent_price[0]-(pcs.iloc[0]-most_recent_price.iloc[0])*0.5))&
           (df_sub.strike_price.values > (most_recent_price[0]-(pcs.iloc[0]-most_recent_price.iloc[0])*1.25))&
                      (df_sub.daysToExpiration == call_short.daysToExpiration.values[0])
                    ]
put_short['delta_diff']= abs(put_short['delta']-call_short.delta.iloc[0])
put_short= put_short.loc[put_short['Risk_Return']==put_short['Risk_Return'].min()][['symbol','delta','strike_price','Risk_Return','ask','bid','daysToExpiration']]
put_short=put_short.loc[put_short.strike_price==put_short.strike_price.max()]

<ipython-input-109-3e9b898dc939>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  put_short['delta_diff']= abs(put_short['delta']-call_short.delta.iloc[0])

In [110]:
put_short

,symbol,delta,strike_price,Risk_Return,ask,bid,daysToExpiration
1100,GOOG_100821P2480,-0.08,2480.0,-1.649488e+06,10.4,8.0,17

In [111]:
# For â€˜putCallâ€™ = PUT & ` strike price <  (â€˜Pps â€“ (Pcl-Pcs)*1.25)
# Delta_diff = [Abs(Delta â€“ Dcl)]
# Check for min Delta_diff 
# Dpl = corresponding Delta, Symbol_PL = corresponding symbol

pps=put_short['strike_price']
put_long=df_sub.loc[(df_sub.putCall=='PUT')& 
                    (df_sub.strike_price.values <= (pps.iloc[0]-(call_long.strike_price.iloc[0]-call_short.strike_price.iloc[0])*1.25)) &
                    (df_sub.strike_price.values >= (pps.iloc[0]-(call_long.strike_price.iloc[0]-call_short.strike_price.iloc[0])*1.75)) &
                    (df_sub.daysToExpiration == call_short.daysToExpiration.values[0])
                    ]

put_long['delta_diff']= abs(put_long['delta']-call_long.iloc[0,1])
put_long= put_long.loc[put_long['Risk_Return']==put_long['Risk_Return'].min()][['symbol','delta','strike_price','Risk_Return','ask','bid','daysToExpiration']]
put_long=put_long.loc[put_long.strike_price==put_long.strike_price.max()]

<ipython-input-111-000a6c8dff19>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  put_long['delta_diff']= abs(put_long['delta']-call_long.iloc[0,1])

In [112]:
put_long

,symbol,delta,strike_price,Risk_Return,ask,bid,daysToExpiration
1080,GOOG_100821P2280,-0.029,2280.0,4428.040905,4.5,2.55,17

In [113]:

# Max Income, I = Price of CS + Price of PS â€“ Price of CL -Price of PL
# Maximum Loss, Pot_Loss = Max[( Pps- Ppl), (Pcl-Pcs)]-I
# Break Even Lower be_lower= Pps- I
# Break Even Upper, be_upper= Pcs + I
max_income=(call_short.ask.values[0]+ put_short.ask.values[0]-call_long.ask.values[0]-put_long.ask.values[0])*100
max_loss= max((put_short.strike_price.values[0]-put_long.strike_price.values[0]),
              (call_long.strike_price.values[0]-call_short.strike_price.values[0]))*100-max_income
break_even_lower= put_short.strike_price.values[0]-max_income/100
break_even_upper= call_short.strike_price.values[0]+max_income/100

In [114]:
# Recommendations:
# Call Short: Symbol_CS
# Call Long: Symbol_CL
# Put Short: Symbol_PS
# Put Long: Symbol_PL
# Maximum Possible Profit = I
# Maximum Potential Loss = Pot_Loss
# Profitable Price Range = ( be_lower, be_upper)
print(f'Call Short:     {call_short.symbol.values}')
print(f'Call Long:      {call_long.symbol.values}')
print(f'Put Short:      {put_short.symbol.values}')
print(f'Put Long:       {put_long.symbol.values}')

print(f'Maximum Possible Profit:      {max_income}')
print(f'Maximum Potential loss:      {max_loss}')

print(f'Break Even Lower be_lower:      {break_even_lower}')
print(f'Break Even Upper:               {break_even_upper}')

Call Short:     ['GOOG_100821C3050']
Call Long:      ['GOOG_100821C3200']
Put Short:      ['GOOG_100821P2480']
Put Long:       ['GOOG_100821P2280']
Maximum Possible Profit:      800.0
Maximum Potential loss:      19200.0
Break Even Lower be_lower:      2472.0
Break Even Upper:               3058.0

In [ ]:
# Visualizations: